include *.txt
include *.md
include *.cfg
include *.pkl

recursive-include ./models/*.py
recursive-include ./models/*.pkl
recursive-include ./models/*.h5
recursive-include ./models/*.joblib
recursive-include ./models/SVM/*.joblib
recursive-include ./models/SVM/pipelines/*.joblib


include ./requirements.txt 

recursive-exclude * __pycache__
recursive-exclude * *.py[co]